
<div id="header">
    <nav class="navbar-default navbar-static-top full-height">
    <div class="container-fluid container-fluid2" id="fixed_header">
        <div class="navbar-header">
        </div>
        <ul class="nav navbar-nav">
        </ul>
        <div class="navbar-form navbar-right navbar-form2">
        <div class="btn-group">
            <a class="btn btn-default btn-primary bg-transparent">
            <input id="current_user_email" type="hidden" value="{{current_user.user_id}}">
            {{current_user.user_id}}
            </a>
            <a class="btn btn-default btn-primary bg-transparent" href="{{ url_for('login.logout') }}"> ログアウト</a>
        </div>
        </div>
        <div class="navbar-form navbar-right navbar-form2">
        </div>
        <!--     <input hidden id ="weko_show_index_for_authenticated_user" value="False"> -->
    </div>
    </nav>
</div>