<!DOCTYPE html>
<html lang="en">
<body itemscope="" itemtype="http://schema.org/WebPage" data-spy="scroll" data-target=".scrollspy-target">
    <script type="application/javascript">
      var klaroConfig = {
        version: 2,
        elementID: 'klaro',
        styling: {
          theme: ['dark', 'bottom', 'wide'],
        },
        noAutoLoad: false,
        htmlTexts: true,
        embedded: false,
        groupByPurpose: true,
        storageMethod: 'cookie',
        cookieName: 'klaro',
        cookieExpiresAfterDays: 365,
        default: false,
        mustConsent: false,
        acceptAll: true,
        hideDeclineAll: true,
        hideLearnMore: false,
        noticeAsModal: false,
        poweredBy: 'https://github.com/RCOSDP/weko',
      };
    </script>
    <link rel="stylesheet" href="https://cdn.kiprotect.com/klaro/v0.7.16/klaro.min.css">
    <script type="text/javascript" src="https://cdn.kiprotect.com/klaro/v0.7.16/klaro.js"></script>
    <div id="klaro"
    style="--notice-bottom: 20px; --notice-top: auto; --notice-left: 20px; --notice-right: auto; --notice-max-width: calc(100vw - 60px); --notice-position: fixed;">
    <div lang="ja" class="klaro">
    </div>
    </div>


    {% block css %}
    <link href={{url_for('static', filename='css/theme.css' )}} rel="stylesheet">
    <link href={{url_for('static', filename='css/styles.css' )}} rel="stylesheet">
    <link href={{url_for('static', filename='css/buttons.css' )}} rel="stylesheet">
    <link href={{url_for('static', filename='css/admin.css' )}} rel="stylesheet">
    {% endblock %}
    {% block header %}
    <div id="header">
        <nav class="navbar-default navbar-static-top full-height">
        <div class="container-fluid container-fluid2" id="fixed_header">
            <div class="navbar-header">
            </div>
            <ul class="nav navbar-nav">
            </ul>
            <div class="navbar-form navbar-right navbar-form2">
            <div class="btn-group">
                <a class="btn btn-default btn-primary bg-transparent">
                <input id="current_user_email" type="hidden" value="{{current_user.user_id}}">
                {{current_user.user_id}}
                </a>
                <a class="btn btn-default btn-primary bg-transparent" href="{{ url_for('login.logout') }}"> ログアウト</a>
            </div>
            </div>
            <div class="navbar-form navbar-right navbar-form2">
            </div>
            <!--     <input hidden id ="weko_show_index_for_authenticated_user" value="False"> -->
        </div>
        </nav>
    </div>
    {% endblock header %}
    <div id="main_contents">
        {%- block page_body %}
        {%- endblock page_body %}
    </div>
    <div id="main_footer">
        <footer id="footer" style="display: block;">
            <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 text-center-xs">
                <p>Powered by <a href="https://github.com/RCOSDP/weko">WEKO3</a></p>
                <p>
                    <a class="button is-success" onclick="return klaro.show();">Change consent
                    settings</a>
                </p>
                </div>
            </div>
            </div>
        </footer>
    </div>
</body>

</html>