
<div id="main_footer">
    <footer id="footer" style="display: block;">
        <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
            <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 text-center-xs">
            <p>Powered by <a href="https://github.com/RCOSDP/weko">WEKO3</a></p>
            <p>
                <a class="button is-success" onclick="return klaro.show();">Change consent
                settings</a>
            </p>
            </div>
        </div>
        </div>
    </footer>
</div>