{% extends "base.html" %}

{%- block body %}
{% include "header.html" %}
<div id="main_contents">
  <div class="container-fluid container-fluid2">
    <div class="row row-4">
      <div class="col-sm-12 col-md-12 col-md-12">
        <div class="panel panel-default" id="panel-main-content">
          <div class="panel-heading no-padding-side" id="panel-heading-main-contents">
            <div class="pull-right">
            </div>
            <strong>
              <p id="title-main-content">overlay</p>
            </strong>
          </div>
          <div class="panel-body panel-body2" id="background-color-main-content">
          </div>
        </div>
      </div>
      <div class="container-fluid">
      <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-10">
          <h1>Permission required</h1>
          <p>You do not have sufficient permissions to view this page.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include "footer.html" %}
{%- endblock body%}